<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./style.css" />
		<script src="./script.js" defer></script>
		<!-- <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script> -->
	</head>
	<section>
		<h1>Margin boxes</h1>
		<p>the margin boxes as declared by the W3C.</p>
	</section>
	<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</html>
